body {
    font-family: 'Kavivanar', cursive;
}

img {
    width: 24%;
}

#instructions {
    margin: 0 auto;
    text-align: justify;
    background-color: darkslategrey;
    border-radius: 20px;
    padding: 5px;
    color: powderblue;
    
}


h1 {
    text-align: center;
}

ul {
    padding: 0% 10%;
    line-height: 2em;
}


#info {
   width: 800px;
   margin: 0 auto;
}

#scoreCount {
    max-width: 30%;
    display: inline-block;
    padding: 50px;
    background-color: powderblue;
    border-radius: 15px;
    font-weight: bold;
}

#randomNum {
    max-width: 30%;
    display: inline-block;
    padding: 50px;
    border-radius: 15px;
    background-color: paleturquoise;
    font-weight: bold;

}

#totalScore {
    max-width: 30%;
    display: inline-block;
    padding: 50px;
    border-radius: 15px;
    background-color: lightblue;
    font-weight: bold;


}

.crystals {
    width:100%;
}